@import 'colors';

.eels-markdown-render {
  background: $field-paper;
  overflow: hidden;
  color: $primary;
  padding: 1rem;
  border: 0.4rem solid $field-eggplant;
  border-top-left-radius: 4px;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 1.5rem;
  box-shadow: rgba($field-light, 0.7) 0.3rem 0.3rem 0 0;

  *:empty:not(img) {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    color: $field-eggplant;
    text-shadow: rgba($field-light, 0.2) 2px 2px;
  }

  em {
    color: $field-eggplant;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    display: block;
    color: rgba($field-eggplant, 0.8);
    font-style: italic;
    font-weight: light;
    border-left: 4px solid $field-corn;
    margin: 0;
    padding: 0.2rem 0.7rem;
  }

  a {
    text-decoration: none;
    color: $field-cherry;
  }

  ul {
    list-style-type: none;
    counter-reset: li;
  }
  li {
    counter-increment: li;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: $field-eggplant;
    & > p {
      display: inline;
    }
    &:before {
      content: counter(li);
      color: rgba($field-eggplant, 0.7);
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
    }
  }
}
