@import 'colors';
@import 'mixins';
@import 'variables';

.eels-markdown-render {
  *:empty:not(img):not(td) {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    color: $field-eggplant;
    text-shadow: rgba($field-light, 0.2) 2px 2px;
  }

  em {
    color: $field-eggplant;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    display: block;
    color: rgba($field-eggplant, 0.8);
    font-style: italic;
    font-weight: light;
    border-left: 4px solid $field-corn;
    margin: 0;
    padding: 1rem 1.7rem;
    & > p {
      display: inline;
      padding-bottom: 0.2rem;
      border-bottom: 1px solid $field-corn;
      line-height: 1.8rem;
    }
  }

  a {
    text-decoration: none;
    color: $field-cherry;
  }

  ul {
    list-style-type: none;
    counter-reset: li;
  }
  li {
    counter-increment: li;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: $field-eggplant;
    & > p {
      display: inline;
    }
    &:before {
      content: counter(li);
      color: rgba($field-eggplant, 0.7);
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
    }
  }

  table {
    @include papercut-shadow(rgba($field-light, 0.2));
    // render full size window on smaller screen (looks better)
    // TODO: create a mixin for media screen?
    @media screen and (max-width: $eels-break-small) {
      width: 100%;
    }
    border: 1px solid $field-eggplant;
    border-collapse: separate;
    border-radius: 4px;
  }
  td,
  th {
    padding: 5px;
  }
  th {
    background: rgba($field-light, 0.4);
  }
  thead > tr {
    border-bottom: 1px solid $field-eggplant;
  }
  tbody > tr {
    &:nth-child(2n) {
      // TODO: fix missing cell background color
      background-color: rgba($field-light, 0.1);
    }
  }
}
