@import 'colors.scss';

.eels-page-stories {
  color: $light;
  padding: 2rem;
  &__foreword {
    color: $light;
    padding: 5rem 0;
  }
  &__list-of-stories {}
  &__story {
    background: $light;
    border-radius: .4rem;
    color: $primary;
    box-shadow: $dark 0 1px 5px 0;
    opacity: .9;
    padding: 1rem;
  }
}

