@import '../../style/colors';

.eels-breadcrumb {
  margin-top: 0.5rem;
  text-align: center;
}
.eels-breadcrumb-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 200;
  > span {
    // for better looking underline
    padding-bottom: 0.2rem;
    color: $light-yellow;
  }
  &--active > span {
    color: white;
    border-bottom: 1px solid $light-yellow;
  }
  &--disabled {
    pointer-events: none;
    color: $light-yellow;
    cursor: not-allowed;
  }
  &:not(:last-child) {
    &:after {
      content: '/';
      color: $light-yellow;
      margin: 0.4rem;
    }
  }
}
