@import 'colors';

.eels-breadcrumb {
  margin-top: 0.5rem;
  text-align: center;
}
.eels-breadcrumb-link {
  display: inline-block;
  text-decoration: none;
  color: $primary;
  font-weight: 200;
  > span {
    // for better looking underline
    padding-bottom: 0.2rem;
    color: $primary;
  }
  &--active > span {
    color: $primary;
    border-bottom: 1px solid $primary;
  }
  &--disabled {
    pointer-events: none;
    cursor: not-allowed !important;
    > span {
      color: rgba($primary, .4);
    }
  }
  &:not(:last-child) {
    &:after {
      content: '/';
      color: $primary;
      margin: 0.4rem;
    }
  }
}
