@import 'colors.scss';
@import 'mixins';
@import 'variables';

.eels-page-story {
  @include grid($field-teal, $field-paper);
  background-size: 4rem 4rem;
  @media screen and (max-width: $eels-break-small) {
    padding: 1rem;
  }
  @media screen and (min-width: $eels-break-small) {
    padding: 4rem;
  }

  &__header,
  &__story,
  &__footer {
    background: $field-paper;
    box-shadow: rgba($field-light, 0.7) 0.3rem 0.3rem 0 0;
    border: 0.4rem solid $field-eggplant;
    padding: 1rem;
    overflow: hidden;
    border-radius: 4px;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__header {
    background: $field-paper;
    border: 0.4rem solid $field-eggplant;
    padding: 1rem;
  }

  &__story {
    color: $primary;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  &__footer {
    text-align: center;
    color: $field-light;
  }
}
