@import 'colors.scss';
@import 'mixins';

.eels-page-story {
  @include grid($field-teal, $field-paper);
  background-size: 4rem 4rem;
  padding: 4rem;
  &__foreword {
    color: $light;
    padding: 5rem 0;
  }
  &__story {
    background: $light;
    border-radius: 0.4rem;
    color: $primary;
    box-shadow: $dark 0 1px 5px 0;
    opacity: 0.9;
    padding: 1rem;
  }
}
