@import 'mixins';
@import 'colors';
@import 'variables';

.page-home {
  cursor: default;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  &__top {
    display: flex;
    background: $light;
    color: $primary;
    width: 100%;
    height: 30%;
    box-shadow: $dark 0 1px 7px 0;
  }
  &__bottom {
    background: $primary;
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100%;
  }
}
.page-home-top-content {
  @include center-inner-objects;
  flex-direction: column;
  width: 100%;
  &__header {
    font-size: 2rem;
    color: $primary;
    text-shadow: 2px 2px rgba($shade, 0.4);
  }
  &__text {
    margin-top: 0.5rem;
    color: rgba($primary, 0.7);
    @include with-mood;
  }
  &__nav {
    margin-top: 0.5rem;
  }
  &__instagram-link {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.7rem;
    display: block;
  }
}
.page-home-bottom-content {
  padding: $eels-horizontal-padding;
  min-height: 70vh;
}
