@import '../style/mixins';
@import '../style/colors';

$break-large: 1024px;
.page-home {
  width: 100vw;
  height: 100vh;
  display: flex;
  cursor: default;
  @media screen and (max-width: $break-large) {
    flex-direction: column;
  }
  @media screen and (min-width: $break-large) {
    flex-direction: row;
  }
  &__left {
    display: flex;
    background: $yellow;
    @media screen and (max-width: $break-large) {
      width: 100vw;
      height: 30vh;
    }
    @media screen and (min-width: $break-large) {
      width: 40vw;
      height: 100vh;
    }
  }
  &__right {
    background: $dark;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: $break-large) {
      width: 100vw;
      height: 70vh;
    }
    @media screen and (min-width: $break-large) {
      width: 60vw;
      height: 100vh;
    }
  }
}
.page-home-left-content {
  @include center-inner-objects;
  flex-direction: column;
  width: 100%;
  &__header {
    font-size: 2rem;
    color: white;
  }
  &__text {
    margin-top: .5rem;
    color: $light-yellow;
  }
  &__instagram-link {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: .7rem;
    display: block;
  }
}
.page-home-right-content {
  padding: 2rem;
  &__header {
    text-align: right;
    height: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: $light;
    border-bottom: 0.5px solid rgba($light, 0.4);
  }
}
