
@import '../../../style/colors';
@import '../../../style/variables';

.eels-header {
  color: $dark;
  width: 100%;
  height: $eels-navbar-height;
  line-height: $eels-navbar-height;
  background: rgba($yellow, .9);
  padding: 0 $eels-horizontal-padding;
  position: relative;
  display: flex;
  align-items: center;
  &__text {
    color: $light-yellow;
    margin-left: 1rem;
  }
  &__instagram-link {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-left: 1rem;
  }
}
