@import '../../../style/colors';
@import '../../../style/variables';

.eels-header {
  width: 100%;
  height: $eels-navbar-height;
  background: $yellow;
  display: flex;
  align-items: center;
  @media (min-width: 1024px) {
    padding: 0 $eels-horizontal-padding;
  }
  @media (max-width: 1024px) {
    padding: 0 .5rem;
    &__main-text {
      display: none;
  }
  }
  &__main-text {
    color: $dark;
  }
  &__secondary-text {
    color: $light-yellow;
    margin-left: 1rem;
  }
  &__instagram-link {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-left: 1rem;
  }
}
