@import '../../../style/colors';
.climb-event {
  text-align: left;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background: $light;
  overflow: hidden;
  box-shadow: $primary 0 1px 7px 0;

  &__header {
    color: $dark;
    padding: 1rem;
    min-height: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
  }
  &__flag {
    text-transform: lowercase;
    white-space: nowrap;
    background: $primary;
    color: $light;
    margin-left: 1rem;
    font-size: 0.7rem;
    padding: 0 0.4rem;
    border-radius: 0.5rem 0.1rem 0.5rem 0.1rem;
    height: 1.4rem;
    line-height: 1.4rem;
    &--calm {
      background: $calm;
      box-shadow: rgba($calm, .4) 0 1px 5px 0;
    }
    &--warm {
      background: $warm;
      box-shadow: rgba($warm, .4) 0 1px 5px 0;
    }
    &--chill {
      background: $chill;
      box-shadow: rgba($chill, .4) 0 1px 5px 0;
    }
    &--active {
      background: $active;
      box-shadow: rgba($active, .4) 0 1px 5px 0;
    }
  }
  &__time,
  &__location {
    font-size: 0.8rem;
    color: rgba($primary, 0.5);
    padding: 0.5rem 1rem;
    line-height: 1.4;
    border-left: 0.5rem solid $primary;
    border-right: 0.5rem solid $primary;
    &--calm {
      border-color: $calm;
      color: $calm;
    }
    &--warm {
      border-color: $warm;
      color: $warm;
    }
    &--chill {
      border-color: $chill;
      color: $chill;
    }
    &--active {
      border-color: $active;
      color: $active;
    }
  }
  &__notes {
    line-height: 1.4rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    text-transform: none;
    color: $primary;
    padding: 1rem;
  }
}
