@import '../../../style/colors';
.climb-event {
  text-transform: capitalize;
  text-align: left;
  margin: .5rem 0;
  padding: 1rem;

  &__header {
    color: $light-yellow;
    min-height: 2rem;
    line-height: 2rem;
  }
  &__time, &__location {
    font-size: .8rem;
    color: rgba($light, .8);
    padding: .5rem 1rem;
    line-height: 1.4;
    border-left: 2px solid rgba($light-yellow, .8);
  }
}
