$black80: rgba(0, 0, 0, .8);

$yellow: #F5AF29;
$light-yellow: #F5CA7D;
$old-dark: #28282C;
$old-light: #DADADD;

$light: #EEE7DA;
$dark: #625E65;
$stress: #272532;
$shade: #9F9896;
$primary: #CC9673;
$warm: #926D66;
