$black80: rgba(0, 0, 0, 0.8);

$calm: #2d7877;
$chill: #494c79;
$dark: #19191a;
$light: #ededed;
$primary: #333436;
$shade: #868789;
$warm: #f49786;
$active: #f34a51;

// field
$field-teal: #1ec0d5;
$field-light: #7b91c4;
$field-eggplant: #555172;
$field-paper: #f2eff1;
$field-cherry: #f874bf;
$field-corn: #f8da9c;
