@mixin center-inner-objects {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow($color) {
  box-shadow: 5px 10px 5px 10px $color;
}

@mixin with-mood() {
  &--calm {
    color: $calm;
  }
  &--warm {
    color: $warm;
  }
  &--chill {
    color: $chill;
  }
  &--active {
    color: $active;
  }
}
