@mixin center-inner-objects {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow($color) {
  box-shadow: 5px 10px 5px 10px $color;
}

@mixin with-mood() {
  &--calm {
    color: $calm;
  }
  &--warm {
    color: $warm;
  }
  &--chill {
    color: $chill;
  }
  &--active {
    color: $active;
  }
}

@mixin stamped($width, $color) {
  position: relative;
  &:before,
  &:after {
    content: '';
    top: 0;
    width: $width;
    height: 100%;
    position: absolute;
    background-image: radial-gradient($color $width * 0.3, transparent 0);
    -webkit-background-size: $width * 0.3 $width * 0.3;
    background-size: $width $width;
    z-index: 3; // to mask the labels
    background-position-y: $width * 0.15;
  }
  &:before {
    left: -$width / 2;
  }
  &:after {
    right: -$width / 2;
  }
}

@mixin grid($bg, $gridline) {
  background-color: $bg;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      $gridline 25%,
      $gridline 26%,
      transparent 27%,
      transparent 74%,
      $gridline 75%,
      transparent 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      $gridline 25%,
      $gridline 26%,
      transparent 27%,
      transparent 74%,
      $gridline 75%,
      transparent 76%,
      transparent 77%,
      transparent
    );
}
