@import 'colors';
@import 'mixins';

.upcoming-climbs {
  &__header {
    color: $light;
    text-transform: capitalize;
    text-align: right;
    line-height: 4rem;
  }
}

.climb-event {
  @include with-mood;
  text-align: left;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background: $light;
  overflow: hidden;
  box-shadow: $primary 0 1px 7px 0;
  border-bottom: 4px solid currentColor;

  &__header {
    color: $dark;
    padding: 1rem;
    min-height: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
  }
  &__flag {
    text-transform: lowercase;
    white-space: nowrap;
    background: currentColor;
    color: $light;
    margin-left: 1rem;
    font-size: 0.7rem;
    padding: 0 0.4rem;
    border-radius: 0.5rem 0.1rem 0.5rem 0.1rem;
    height: 1.4rem;
    line-height: 1.4rem;
    @include with-mood;
    > span {
      color: $light;
    }
    &--calm {
      box-shadow: rgba($calm, 0.4) 0 1px 5px 0;
    }
    &--warm {
      box-shadow: rgba($warm, 0.4) 0 1px 5px 0;
    }
    &--chill {
      box-shadow: rgba($chill, 0.4) 0 1px 5px 0;
    }
    &--active {
      box-shadow: rgba($active, 0.4) 0 1px 5px 0;
    }
  }
  &__time,
  &__location {
    color: rgba($primary, 0.5);
    > a {
      font-size: 0.8rem;
      color: currentColor;
      text-decoration: none;
    }
    padding: 0.5rem 1rem;
    line-height: 1.4;
    border-left: 0.5rem solid;
    border-right: 0.5rem solid;
    @include with-mood;
    border-color: currentColor;
  }
  &__attendees {
    padding: 0 1rem;
    margin: 1rem 0 0;
    display: flex;
  }
  &__notes {
    line-height: 1.4rem;
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
    padding: 0 1rem;
    text-transform: none;
    color: $primary;
  }
}
