@import 'colors';
@import 'mixins';
@import 'variables';

.page-field-notes {
  @include grid($field-teal, $field-paper);
  background-size: 4rem 4rem;
  @media screen and (max-width: $eels-break-small) {
    padding: 1rem;
  }
  @media screen and (min-width: $eels-break-small) {
    padding: 4rem;
  }

  &__header,
  &__content,
  &__footer {
    background: $field-paper;
    overflow: hidden;
    border-radius: 4px;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__header,
  &__footer {
    padding: 1rem;
    box-shadow: rgba($field-paper, 0.4) 0.3rem 0.3rem 0 0;
  }

  &__content {
    @include stamped(3rem, $field-teal);
    color: $primary;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border: none;
    padding: 2rem;
  }

  &__footer {
    text-align: center;
    color: $field-light;
  }
}
